header{
    background-color: rgb(94, 0, 0);
    padding: 28px 0px;
}
.cart_icon{
    position: relative; 
    
}
.cart_icon i{
    font-size: 24px;
    color: #fff;
}
.cart_icon:focus{
    outline: none;
    border: none;
}
.cart_value{
    position:absolute;
    top: -16px;
    right: -32px;
    background: #fff; 
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 800;
    
}
h3{
    color: white;
    font-weight: bold;
    outline: none;
}

