
<app-header></app-header>

<section class="product">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3" *ngFor="let prod of ProductArray" >
                <div class="box">
                    <div class="product_image">
                    <img src="{{prod.img}}" alt="shirts" width="200px" height="250px">    
                    </div>
                    <div class="content">
                        <h4>₹ {{prod.amt}}</h4>
                        <button type="button" class="btn" (click)="inc(prod)"><i class="fa fa-plus"></i></button>
                        <span>{{prod.qnt}}</span>
                        <button type="button" class="btn" (click)="dec(prod)"><i class="fa fa-minus"></i></button>
                    </div>
                    <button type="button" class="cart_btn" (click)="addCart(prod)">Add To Cart</button>
                </div>
            </div>
           
        </div>
    </div>
</section>
